[2016-02-05 13:13] mathiasbynens opened #1 "Compile list of URLs"
Find as many good examples of web apps as possible.

[2016-02-05 13:14] mathiasbynens opened #2 "Set up basic site/template"

[2016-02-15 16:13] #1 closed, assigned to mathiasbynens

[2016-02-16 09:25] #2 closed, assigned to nobody

[2016-02-17 10:16] mathiasbynens opened #3 "Add manifest"
@pepelsbey Would you mind creating PNG icons in 144×144px / 180×180px / 192×192px and possibly an SVG version as well?

[2016-02-17 13:52] mathiasbynens commented on #3
Done in ae237154f34caebfc9ac358c4926812d92885368.

[2016-02-17 13:52] #3 closed

[2016-02-17 13:53] mathiasbynens opened #4 "Add icon"
@pepelsbey Please create a square SVG icon and place it in `assets/images/icon.svg`:

https://github.com/operasoftware/pwa-list/blob/ae237154f34caebfc9ac358c4926812d92885368/src/pwa-list.webmanifest#L7

[2016-02-17 14:21] pepelsbey commented on #4
Fixed by c747c29

[2016-02-17 14:21] #4 closed

[2016-02-17 15:37] kenchris opened #5 "You could add my Web NFC shopping card app"
https://weneed-1147.appspot.com

It has a "fake mode" so most of the UI works fine without the actual Web NFC support.

[2016-02-17 16:12] mathiasbynens opened #6 "Add Hacker Web"
https://cheeaun.github.io/hackerweb/

[2016-02-17 16:39] justinribeiro opened #7 "Contribution guideline?"
What's the proper way to submit a PWA for inclusion? Would you simply prefer a pull request with the proper code + svg added to the list, or just tickets that can be addressed?

[2016-02-17 20:17] alexgibson opened #8 "Add Wave-PD1"
https://alexgibson.github.io/wavepad/

Repo: https://github.com/alexgibson/wavepad

[2016-02-17 23:12] mathiasbynens opened #9 "Add favicon"
SVG favicons are sadly not supported in Chromium [yet](https://code.google.com/p/chromium/issues/detail?id=294179).

[2016-02-18 01:37] andreasbovens commented on #8
Nice one! I've filed a pull request with a fix for a path issue: https://github.com/alexgibson/wavepad/pull/3

[2016-02-18 06:36] alexgibson commented on #8
Thanks for the PR! Merged so the issue should be corrected now :)

[2016-02-18 07:04] alexgibson commented on #8
Will deploy this change shortly

[2016-02-18 07:17] alexgibson commented on #8
So, I went ahead and ended up changing the scope of the manifest, so it no longer points to the root. Hopefully this should still fix the issue in the same way. Please let me know if not!

[2016-02-18 15:37] pepelsbey commented on #9
Fixed by 6898bdf1

[2016-02-18 15:37] #9 closed

[2016-02-18 15:39] pepelsbey commented on #7
Here’s a [good example](https://github.com/operasoftware/pwa-list/pull/10) of such PR, but here’s also [the list of conditions](https://github.com/operasoftware/pwa-list#conditions-for-inclusion-in-this-list) added to the readme.

[2016-02-18 15:39] #7 closed

[2016-02-19 07:42] wfwalker opened #12 "Consider adding Firefox Platform Status"
Please consider adding Firefox Platform Status app at
https://platform-status.mozilla.org/
code at https://github.com/mozilla/platatus

[2016-02-20 07:55] pepelsbey commented on #8
@alexgibson, could you please file a PR? Here’s a good example #10:

- Add link to `index.html`, `list.scss` and `README.md`
- Provide SVG icon

If not, could you please at least give us your logo in any vector format?

[2016-02-20 08:00] alexgibson commented on #8
Sure thing - only thing I don't have is a vector asset for the icon unfortunately, although I do have a large rasterised version. Will this suffice?

[2016-02-20 08:32] pepelsbey commented on #8
@alexgibson, now you have it:

[code]
Close enough, I think.

![image](https://cloud.githubusercontent.com/assets/105274/13195522/93c61c3c-d7c5-11e5-808b-09a73833071c.png)

[2016-02-20 08:33] alexgibson commented on #8
Perfect, thanks!

[2016-02-20 17:27] #8 closed

[2016-02-20 18:26] adactio opened #14 "Defining “progressive”"
Flipboard doesn't render anything at all if the initial JavaScript fails to load. Many others only display a non-functional shell.

I'm not convinced that many of the sites listed (apart from dev.opera.com, oumy.com and twitter.com) deserve to be labelled progressive when they're built on such fragile foundations.

(P.S. Flipkart is not being served over a secure connection. I can't seem to find t

[2016-02-20 19:03] adactio opened #15 "Site suggestion: thesession.org"
Not sure if site suggestions are supposed to be added via issues or pull requests but here goes...

* Site: https://thesession.org
* Manifest file: https://thesession.org/manifest.json
* SVG icon: https://thesession.org/icon.svg
* Service Worker: https://thesession.org/serviceworker.js

[2016-02-22 11:15] mathiasbynens opened #16 "Add 228×228px icon"
Everything is already in place except for the actual icon. @pepelsbey, could you please replace https://github.com/operasoftware/pwa-list/blob/master/src/assets/images/icon-228x228.png with a proper one? Thanks!

[2016-02-22 15:50] pepelsbey commented on #16
Fixed by 8ddb065 and 31266b0

[2016-02-22 15:50] #16 closed

[2016-02-23 14:51] marco-c commented on #5
There are a few problems while running your app in Firefox.

For example, you're using `navigator.webkitGetUserMedia`.

[2016-02-23 16:22] kenchris commented on #5
OK, let me fix that tomorrow. If you run into additional problems, please tell me

[2016-02-24 14:56] kenchris commented on #5
OK, fixed :)

[2016-02-24 15:04] marco-c commented on #5
Great, thank you!

[2016-02-24 18:54] kenchris commented on #5
Added a PR: https://github.com/operasoftware/pwa-list/pull/19

[2016-03-08 11:21] pepelsbey opened #20 "Base64"
https://pr.gg/base64/

[2016-03-14 22:32] mathiasbynens opened #21 "Suggestion: Smaller Pictures"
https://smaller-pictures.appspot.com/ by @addyosmani (who might be willing to submit a PR? ;))

[2016-03-15 16:29] owencm opened #22 "Suggestion: Add BaBe"
This is a new nice PWA for news in Indonesia: https://app.babe.co.id

[2016-03-16 16:45] kenchris opened #23 "Add WebBluetooth Edison demo"
Article will be out soon on how to program the device itself, but here is the client which is http2, polymer, service worker, manifest etc.

https://edison-webbt.appspot.com/

[2016-03-16 21:07] shwetank commented on #23
Looking forward to the article! :+1:

[2016-03-24 16:48] gokulkrishh opened #25 "Add QR Code Scanner"
https://qrcode-scanner.herokuapp.com

[2016-03-29 20:22] PaulKinlan commented on #14
I don't disagree, the term "progressive" is loaded - Alex R's original post referred to it being Progressively installed as the user becomes more engaged.  I have certainly pushed more for ensuring that it works Progressively everywhere because I think that is the compelling story and helps us see this work for every user everywhere.

wrt to Flipkart, they made some choices about their mobile expe

[2016-04-01 12:07] andreasbovens commented on #22
Nice one, @owencm - sorry for the late reply here. We've been overwhelmed with other stuff. We'll include this one for sure :+1:

[2016-04-01 12:10] andreasbovens opened #27 "Add BB8 demo"
https://operasoftware.github.io/bb8/

[2016-04-01 20:12] owencm opened #28 "Add Kas Quiz"
https://kasquiz.kaskus.co.id/

[2016-04-03 04:23] Jorger opened #29 "Add ShootJS and DotsJS Games"
ShootJS Game
Site: https://jorger.github.io/shoot/
Github: https://github.com/Jorger/shoot

DotsJS Game.
Site: https://jorger.github.io/dots/
Github: https://github.com/Jorger/dots

Thank you very much.

Jorge Rubiano.

[2016-04-03 19:22] gokulkrishh commented on #25
Link to moved to https://qrcodescan.in

[2016-04-04 15:00] andreasbovens commented on #14
https://github.com/operasoftware/pwa-list/blob/master/README.md has been updated, to better explain this. We'll be making some changes over the next couple of days, featuring additional sites, and unfeaturing others.

[2016-04-04 20:16] igoradamenko opened #34 "Add SVGOMG"
Hi!

Yesterday PWA needs to have an SVG icon, but now in README says that PWA needs to have just a PNG icon. If it is not a mistake, SVGOMG is a candidate to your list.

Link: https://jakearchibald.github.io/svgomg/

- [x] HTTPS;
- [x] `name` (very short), `start_url` and set of PNG icons from 192×192 to 512×512;
- [x] Service Worker.

[2016-04-05 08:33] mathiasbynens commented on #34
Currently, only PNG icons are supported for the home screen icons in Chrome and Opera for Android.

The reason we ask for an SVG is because that’s what we use on our pwa-list website. @jakearchibald do you have an SVG version of https://jakearchibald.github.io/svgomg/imgs/icon.png?

[2016-04-05 08:37] mathiasbynens commented on #34
Currently, only PNG icons are supported for the home screen icons in Chrome and Opera for Android.

The reason we ask for an SVG is because that’s what we use on our pwa-list website. @jakearchibald do you have an SVG version of https://jakearchibald.github.io/svgomg/imgs/icon.png?

[2016-04-05 09:16] jakearchibald commented on #34
I do! https://github.com/jakearchibald/svgomg/blob/master/src/test-svgs/svgo-logo.svg

[2016-04-05 10:38] mathiasbynens commented on #34
Closing in favor of #35.

[2016-04-05 10:38] #34 closed

[2016-04-05 10:41] mathiasbynens commented on #27
Hmm, this is only useful for people who own [the BB-8 toy](http://store.sphero.com/collections/bb-8-by-sphero/products/bb-8-by-sphero).

*If* we add it, I think we should wait until Web Bluetooth is enabled by default.

[2016-04-05 10:52] #5 closed

[2016-04-05 11:03] shwetank commented on #25
Hi,

On load, the button for enabling a scan appear's for a brief moment before dissappearing - effectively leaving a blank page (apart from the header).

Tested on Opera for Android Beta and stable, as well as Chrome Dev and stable. Can you take a look at fixing that? :)

[2016-04-05 11:18] shwetank commented on #6
Unfortunately, doesn't look optimized for mobile. Also, doesn't throw install banner on load, though it does have a SW.

[2016-04-05 11:21] gokulkrishh commented on #25
@shwetank Thanks for reporting. Can you give me device detail in which you have tested and browser versions ??

[2016-04-05 11:31] shwetank commented on #25
Sure.

I tested on a Nexus 6P.

Opera for Android (latest stable) -  36.0.2126.101812
Chrome for Android Dev - v 51.0.2693.2
Chrome for Android Stable - v 49.0.2623.105

Screenshot below.

![qrcodescanin](https://cloud.githubusercontent.com/assets/43538/14280365/01dff870-fb50-11e5-9697-e54c934a184f.png)

[2016-04-05 11:33] ithinkihaveacat opened #36 "Add Snapdrop"
See <https://snapdrop.net>.

[2016-04-05 11:33] shwetank commented on #25
Nevermind, I just noticed it was http and not https. When going to https it works fine.

[2016-04-05 11:34] shwetank commented on #25
Works quite well. Nicely done! :+1:

[2016-04-05 11:37] gokulkrishh commented on #25
@shwetank Thanks. I have checked, its working fine :) :+1:

[2016-04-05 11:39] gokulkrishh commented on #25
@shwetank I am adding a rule to redirect to https by default in cloudflare

[2016-04-05 11:40] shwetank commented on #25
@gokulkrishh Yes, thats a good idea.

[2016-04-05 11:43] gokulkrishh commented on #25
@shwetank I am done :). Now qrcodescan.in goes to https://qrcodescan.in

[2016-04-05 11:51] marco-c commented on #23
@kenchris it doesn't seem to work in Firefox. I see a white page and the following exceptions in the console:
[code]

[2016-04-05 11:57] shwetank commented on #25
Awesome :100:

[2016-04-05 12:08] kenchris commented on #23
OK I will have a look at it when I have time

[2016-04-05 12:28] pepelsbey commented on #34
Done: https://operasoftware.github.io/pwa-list/

[2016-04-05 13:55] mathiasbynens commented on #6
cc @cheeaun

[2016-04-05 14:37] andreasbovens commented on #27
Good point, @mathiasbynens. Closing for now.

[2016-04-05 14:37] #27 closed

[2016-04-05 14:39] andreasbovens commented on #22
Found a large icon here: https://assets.jalantikus.com/assets/cache/300/300/apps/2016/02/06/babe-baca-berita-indonesia-icon.png

[2016-04-05 14:54] andreasbovens commented on #20
A must have utility on mobile! :stuck_out_tongue_winking_eye:

[2016-04-05 14:58] cheeaun commented on #6
@shwetank not sure what you mean by 'doesn't look optimized for mobile' 🤔

As for the install banner, you mean the one done by the browser or some custom banner that I have to code?

[2016-04-05 15:25] shwetank commented on #6
@cheeaun On my nexus 6P it looks like this on first load (on both Opera for Android as well as Chrome for Android).

![hackerweb](https://cloud.githubusercontent.com/assets/43538/14287256/b3104a54-fb6f-11e5-9f88-4fa51d535655.png)

By the install banner - I mean the banner which the browser pops out if it detects that a site is a progressive web app. More details here https://dev.opera.com/blog/web

[2016-04-05 15:33] cheeaun commented on #6
@shwetank omg that screenshot 😱😱😱 okay will fix this!

[2016-04-05 21:37] #22 closed

[2016-04-06 07:32] mathiasbynens commented on #28
Hmm… This looks like a well-done PWA, but the fact that registration/login seems to be required (and the form not being in English) makes me think maybe it doesn’t belong on this list. What do you think?

[2016-04-06 07:33] mathiasbynens commented on #36
Currently getting a 502 error.

[2016-04-06 08:00] ithinkihaveacat commented on #36
@capira12 Can you fix?

[2016-04-06 09:29] andreasbovens commented on #36
Seems like it works fine now.

[2016-04-06 09:30] mathiasbynens commented on #36
Not for me :/

[2016-04-06 09:31] andreasbovens commented on #36
Ah no, it was the SW kicking in. New browser window shows a 502.

[2016-04-06 09:36] capira12 commented on #36
Sorry guys! forever crashed.
It is up again

[2016-04-06 09:51] mathiasbynens commented on #29
Have you thought of making the ShootJS game HiDPI friendly?

[2016-04-06 10:08] #15 closed

[2016-04-06 10:40] #12 closed

[2016-04-06 12:50] gokulkrishh commented on #25
Closing it in favor to https://github.com/operasoftware/pwa-list/pull/30#issuecomment-206351032 PR comment

[2016-04-06 12:50] #25 closed

[2016-04-06 23:25] andreasbovens opened #39 "Add Google IO 2016 site"
https://events.google.com/io2016/

[2016-04-07 10:59] kenchris commented on #23
@shwetank article is out btw: https://developers.google.com/web/updates/2016/03/web-enabled-internet-of-things

[2016-04-07 14:04] kushalpandya opened #40 "Add Telegram.org"
Telegram.org is decent Chat client that works via browser too.

- Serves over HTTPS
- Has `manifest.json` at [http://web.telegram.org/manifest.json](http://web.telegram.org/manifest.json)
- Has high-res PNG icons
- Works offline for `start_url`.

[2016-04-07 23:45] #14 closed

[2016-04-08 12:48] #40 closed

[2016-04-08 13:22] jkomoros opened #41 "Add Vaadin expense manager demo"
https://vaadin.github.io/expense-manager-demo/

[2016-04-09 08:55] cheeaun commented on #6
@shwetank for some reason I couldn't replicate this bug on my Nexus 5X, on both Opera for Android and Chrome. However, this feels surprisingly very similar to this bug ( https://bugs.chromium.org/p/chromium/issues/detail?id=432813 ) so I suspect if it's even a bug on my app at all 🤔

[2016-04-10 19:45] andreasbovens commented on #41
I get an authentication dialog.

[2016-04-11 12:11] mathiasbynens opened #42 "Redirect to https://pwa.rocks/ using JS"
[code]

[2016-04-11 12:13] #42 closed

[2016-04-11 14:56] #36 closed

[2016-04-11 15:07] #39 closed

[2016-04-12 09:13] helloguille opened #43 "Suggestion: Currency Calculator"
Hi!

I'd like to suggest the currency calculator I developed, which is available in English and German at the moment.

https://currency-x.com

- HTTPS
- SW, offline first.
- Manifest Icon in multiple sizes
- Mobile friendly
- Ad supported with Google Adsense

PageSpeed Insights (mobile)
- 73 / 100 Speed
- 99 / 100 User Experience

I attach PNG icon, let me know whether I should  provide SVG or PSD

[2016-04-12 09:23] mathiasbynens commented on #43
Yes, please provide an SVG icon as well.

[2016-04-12 09:34] helloguille commented on #43
Done! (BTW:
[Icon.svg.zip](https://github.com/operasoftware/pwa-list/files/214693/Icon.svg.zip)

I used https://cloudconvert.com to generate it from an Adobe Illustrator file)

[2016-04-12 09:42] mathiasbynens commented on #43
Thanks! Btw, in Adobe Illustrator you can export / save as SVG.

[2016-04-12 13:52] ebidel opened #44 "Add PolyMail"
demo: https://poly-mail.appspot.com/
src: https://github.com/ebidel/polymer-gmail

[2016-04-13 10:33] #44 closed

[2016-04-13 10:33] pepelsbey commented on #44
Thank you!

[2016-04-13 14:31] #43 closed

[2016-04-13 16:00] helloguille commented on #43
Thanks!

[2016-04-15 10:35] andreasbovens opened #46 "Split "real" sites from demo sites."
The question is of course: what is real, what is a demo? We could go for a split like this:

# Real sites
- Dev.Opera
- Flipkart
- Pokedex
- Soundslice
- Oumy
- BaBe
- The Session
- Firefox Platform Status
- Telegram
- Snapdrop
- Google I/O
- Currency Converter

# Demos
- Air Horner
- Emojoy
- Voice Memos
- Wiki Offline
- 2048 Puzzle
- Get Kana!
- Wave-PD1
- SVGOMG
- QR Code Scanner
- PolyMail
- G

[2016-04-15 11:00] pepelsbey commented on #46
Air Horner is an app on its own domain that might be useful as an app to… you know… make sounds :) The same applies to many others: Get Kana, PD-1, etc. “Real app” definition is pretty subjective and vague.

[2016-04-15 14:48] andreasbovens commented on #46
True, I'm also conflicted...

[2016-04-16 15:46] jkomoros commented on #46
To me the question is: does the example operate as a _business_ or a service depended on by a large number of people? That is, will it be convincing to other businesses who want to know which _other_ businesses are on the Progressive Web App bandwagon?

So maybe "Demos" / "Real sites" is the wrong way of calling the other ones, since obviously a number of them are real sites.

@PaulKinlan as well

[2016-04-16 16:03] shwetank commented on #46
I kind of agree with @jkomoros .... Rather than "Real Sites" and "Demos" (some might be both) ... I think it would be better to look at it as "Commercial or official web apps" of some organization and "personal technology demos" of an individual or small group. That way, I think, it would be easier to categorize the entries (as there would be little chance of overlap) rather than agonizing which o

[2016-04-27 14:00] benfrancis opened #48 "pwa.rocks doesn't work in Firefox"
pwa.rocks doesn't render properly in Firefox because the list items have zero height.

[2016-04-27 14:23] #48 closed

[2016-04-27 14:25] pepelsbey commented on #48
For some reason this responsive trick doesn’t work in Firefox when block is flexbox item:

[code]

So I fixed it with extra wrapper. Thank you for reporting!

[2016-04-28 18:21] #21 closed

[2016-05-02 11:54] kenchris commented on #23
OK, I can confirm that this doesn't work on Firefox. Some info here:
http://stackoverflow.com/questions/33265769/polymer-1-0-on-firefox-referenceerror-polymer-is-not-defined

[2016-05-09 14:38] andreasbovens opened #52 "Add Flipboard again"
I noticed that the installation prompt is shown for Flipboard, so we should consider adding it again.

[2016-05-09 14:40] andreasbovens commented on #46
Fixed by various commits on April 28.

[2016-05-09 14:40] #46 closed

[2016-05-10 11:47] #52 closed

[2016-05-11 09:17] mathiasbynens opened #53 "Permalinks for tags/filters"

[2016-05-11 09:17] mathiasbynens opened #54 "Add service worker"
Online-first, fallback to cache

[2016-05-11 11:09] pepelsbey commented on #53
I wonder what URL scheme would fit this case: `/?tag=foo` or just `/#foo`? I’m leaning toward the first one since it changes the page and not the second one since there’s no element with such ID present. What do you think?

[2016-05-11 11:48] mathiasbynens commented on #53
I’d strongly prefer the second one since we’d still serve the same response.

* `/#tag=foo` & `/#tag=bar` → same resource/content/response, but a different state of the page
* `/?tag=foo` & `/?tag=bar` → two unique resources (e.g. search engines would index them indivually by default)

[2016-05-11 11:56] pepelsbey commented on #53
`/#tag=bar` fake query is just sooo ugly and wrong I can’t even. `/#foo` then with dynamic ID on a parent container then.

[2016-05-12 09:17] #54 closed

[2016-05-13 06:03] julianmartinezmansell opened #55 "Selio App"
Hi Opera team!
Exciting times for progressive web apps! We have built a fully functioning local market app on ReactJS and full PWA technology.

I've also made a short presentation with some of our learnings, both technical and marketing. I hope you find it interesting:
http://www.slideshare.net/julianmartinez2/building-selio-a-local-market-progressive-web-app

The URL is https://www.selioapp.com

[2016-05-13 20:16] pepelsbey commented on #55
Great app, we’ll add it shortly.

BTW, you have a problem with serificate for non-www version of your domain: your sertificate is issued for `*.selioapp.com`, but when there’s no `www` it doesn’t match `https://selioapp.com/` and it’s not secure though it’s on HTTPS:

![image](https://cloud.githubusercontent.com/assets/105274/15260592/4f953b38-1960-11e6-823a-7296d3bd8d52.png)

[2016-05-13 20:31] pepelsbey commented on #55
Do you have app logo in SVG or any other vector format?

[2016-05-13 20:48] #55 closed

[2016-05-14 15:16] julianmartinezmansell commented on #55
Fixed the problem with the selioapp.com version thanks! :)

On Fri, 13 May 2016 at 23:31, Vadim Makeev <notifications@github.com> wrote:

[2016-05-18 06:24] owencm opened #56 "Add AliExpress"
They're a real large business with a nice PWA: https://m.aliexpress.com/

[2016-05-18 06:25] owencm opened #57 "Add Snapdeal"
Snapdeal are a large ecommerce company with a PWA: https://m.snapdeal.com

[2016-05-18 06:30] owencm opened #58 "Add Jalantikus"
https://app.jalantikus.com is a news website in Indonesia

[2016-05-18 06:31] owencm opened #59 "Add Geo TV"
An offline-ready news site: https://m.geo.tv/

[2016-05-18 06:31] owencm opened #60 "Add 5miles"
https://lite.5milesapp.com/

[2016-05-18 06:31] owencm opened #61 "Add AirBerlin"
They have a beta PWA for check ins!

https://m.airberlin.com/en/pwa

[2016-05-18 06:32] owencm opened #62 "Add Washington Post"
They have a PWA! https://www.washingtonpost.com/pwa/

[2016-05-18 17:52] mathiasbynens commented on #53
What’s fake about it and why is it ugly and wrong?

(The way I see it `?tag=bar` would be more fake since no server-side magic is going on.)

[2016-05-18 20:40] pepelsbey commented on #53
`#id` in URL is suppose to match an element on a page (or existing subsection of it) to make inner document navigation possible. But when it doesn’t link to anything it’s fake and ugly because of this.

[2016-05-18 22:01] pepelsbey commented on #62
Tested, added, pushed to [washington-post](https://github.com/operasoftware/pwa-list/tree/washington-post). Will merge and deploy once @andreasbovens confirms.

[2016-05-18 22:05] pepelsbey commented on #61
It doesn’t trigger app install banner for some reason, investigating.

[2016-05-18 22:07] pepelsbey commented on #60
It doesn’t trigger app install banner for some reason, investigating.

[2016-05-18 22:29] pepelsbey commented on #59
Thank you!

Tested, added, pushed to [geo-news](https://github.com/operasoftware/pwa-list/tree/geo-news). Will merge and deploy once @andreasbovens confirms.

[2016-05-19 07:51] pepelsbey commented on #56
Thank you!

Tested, added, pushed to [aliexpress](https://github.com/operasoftware/pwa-list/tree/aliexpress). Will merge and deploy once @andreasbovens confirms.

[2016-05-19 13:39] mathiasbynens commented on #53
That’s just _one_ of the many use cases. For audio and video resources for example, URLs like the following have [special meaning](https://www.w3.org/TR/media-frags/):

[code]

https://www.w3.org/TR/media-frags/#general-structure

In general, `url?foo` indicates that the value `foo` is processed on the server-side, whereas `url#foo` indicates that the value `foo` is processed on the client-side. I

[2016-05-20 02:13] vaadin-marcus opened #63 "Add Vaadin Expense Manager"
Would be great to have our Expense Manager Demo app featured on the site as an example of a Progressive Business Web Application

https://demo.vaadin.com/expense-manager

[2016-05-24 15:04] benfrancis opened #64 "Add Google Spaces"
https://spaces.google.com

[2016-05-25 09:32] pepelsbey commented on #64
Thank you! It took a while to optimize [this logo](https://ssl.gstatic.com/social/spaces/ui/logo-lockup_0d2907370101e528ca18032c0c187d89.svg) I found on Spaces but it’s there in [spaces](https://github.com/operasoftware/pwa-list/tree/spaces) branch. Will test is a bit and merge it.

[2016-05-25 15:06] pepelsbey commented on #63
It doesn’t trigger app install banner for some reason, investigating.

[2016-05-25 15:12] pepelsbey commented on #62
Added

[2016-05-25 15:12] #62 closed

[2016-05-25 15:14] pepelsbey commented on #56
Added

[2016-05-25 15:14] #56 closed

[2016-05-25 15:14] pepelsbey commented on #59
Added

[2016-05-25 15:14] #59 closed

[2016-05-25 15:19] pepelsbey commented on #57
It gives 403 for `m.snapdeal.com` domain and hangs on `snapdeal.com`. Will test tomorrow in case it’s just a temrorary issue.

[2016-05-25 15:40] pepelsbey commented on #41
Closing it in favor to #63

[2016-05-25 15:40] #41 closed

[2016-05-25 15:41] pepelsbey commented on #64
Added

[2016-05-25 15:41] #64 closed

[2016-05-25 16:53] vaadin-marcus commented on #63
Hm, interesting. I do get the banner on Chrome. Are there any documented differences in requirements between the two for installing the banner?

[2016-05-25 19:43] jansepar opened #66 "Add Pure Formulas PWA"
Hi!

We've been building a Progressive Web App for a company called Pure Formulas. Here is the URL:

https://www.pureformulas.com/

If there are any issues you encounter or questions you have, please don't hesitate to let me know!

[2016-05-25 19:43] jansepar commented on #66
Just a note - it is currently mobile-only.

[2016-05-29 13:11] radiofrequency opened #67 "Add Datememe"
first dating pwa https://www.datememe.com

[2016-06-07 18:58] alpeer opened #68 "add vibration me"
https://www.vibration.me

 @pepelsbey

[2016-06-07 19:04] pepelsbey commented on #68
“Works with Chrome Mobile” and Chrome logo is not correct since Vibration API is [supported in Chrome, Opera, Android Browser and Firefox](http://caniuse.com/#feat=vibration).

[2016-06-14 05:49] jansepar commented on #66
Bump :)

[2016-06-15 13:55] pepelsbey commented on #66
@jansepar, do you have a logo in SVG or any other vector format?

![image](https://cloud.githubusercontent.com/assets/105274/16082416/fa105764-3319-11e6-9d74-13cea9f282cc.png)

[2016-06-15 21:41] pepelsbey commented on #63
Added in the [expense](https://github.com/operasoftware/pwa-list/tree/expense) branch, will test it a bit more and merge. Thank you for suggestion!

[2016-06-15 21:41] pepelsbey commented on #67
Added in the [datememe](https://github.com/operasoftware/pwa-list/tree/datememe) branch, will test it a bit more and merge. Thank you for suggestion!

[2016-06-15 21:42] pepelsbey commented on #58
Added in the [jalantikus](https://github.com/operasoftware/pwa-list/tree/jalantikus) branch, will test it a bit more and merge. Thank you for suggestion!

[2016-06-15 22:00] vaadin-marcus commented on #63
Thanks!

[2016-06-18 01:13] cdata opened #69 "Add Meatscope"
Hey team,

I was just introduced to https://pwa.rocks. I love the idea.

I would like to propose that my recent PWA experiment called Meatscope be included in the list. Meatscope is a PWA that lets users record and share gifs.

Here is the website: https://meatscope.camera/
Here is the Github repo: https://github.com/cdata/meat-scope

Chris

[2016-06-19 09:55] #69 closed

[2016-06-19 09:56] pepelsbey commented on #69
Thank you for suggestion! Added, will be deployed soon.

[2016-06-19 09:57] #67 closed

[2016-06-19 09:58] pepelsbey commented on #67
Added, will be deployed soon.

[2016-06-19 09:59] #63 closed

[2016-06-19 09:59] pepelsbey commented on #63
Added, will be deployed soon.

[2016-06-19 10:00] #58 closed

[2016-06-19 10:01] pepelsbey commented on #58
Merged, will be deployed soon.

[2016-06-21 16:28] manolo opened #74 "Add 'Robots Chat' App"
I would like my demo app added. It should be useful as reference for other users experimenting with polymer + pwa + pouchdb

Site is:
https://wc.demo.vaadin.com/robots/

[2016-06-21 19:54] pepelsbey commented on #74
Is it OK that on iOS I see just a white page? PWAs don't work in Safari yet, but they supposed to be _progressive_ and just work in cases when it's not possible to add them to home screen.

[2016-06-22 14:19] manolo commented on #74
@pepelsbey can you try again?, when I deployed I forgot to include the webcomponents polyfill

[2016-06-23 15:49] pepelsbey commented on #74
@manolo, functionality is confusing, half of the buttons doesn’t work, site is loading way too slow, modal dialog is unusable on mobile. I wouldn’t call it a good example of PWA, sorry.

[2016-06-23 15:49] #74 closed

[2016-06-27 08:21] andreasonny83 opened #77 "Add responsive-navbar"
https://responsive-navbar.herokuapp.com/

Source code: https://github.com/andreasonny83/responsive-navbar
* sw
* App manifest
* Icon and splashscreen working

[2016-06-27 08:34] pepelsbey commented on #77
Sorry, but _lorem ipsum_ kind of a demo is not what would inspire developers to give PWA a try. And this is what we’re aiming to here.

[2016-06-27 08:34] #77 closed

[2016-06-29 10:12] mathiasbynens opened #79 "Calculate `HASH` for `service-worker.js` on build"
https://github.com/operasoftware/pwa-list/blob/c9b1226d18da897657e4285582e815ab1fb948d1/src/assets/service-worker.js#L4

[2016-06-29 12:37] greenido opened #80 "Add noter PWA"
This is a demo of PWA that give the user the options to take notes.
https://noter-1.firebaseapp.com
Still in beta mode ;)

Thanks,
Ido

[2016-06-29 17:29] kanodia opened #82 "Please add https://rofr.in PWA"
Hello

Please add our web app called as Rofr.
Here is the link https://rofr.in

Made using polymer

[2016-06-29 17:52] pepelsbey commented on #82
Your onboarding dialog suggest Chrome as the only supported browser. What current Opera and Firefox (and future Edge) users supposed to do?

[2016-06-30 04:48] kanodia commented on #82
No, that is not true.

We support physical web, which was earlier part of chrome. If the first
screen where we have shown physical web tutorial is making you believe that
we support chrome only then I ll assure you that design will be changed in
a day or two.

Our pwa, Rofr.in is supported by all browsers including opera and firefox
On 29-Jun-2016 11:22 pm, "Vadim Makeev" <notifications@github.com

[2016-06-30 08:30] pepelsbey commented on #82
Please let us know when it’s changed so we could add it to our list, thank you.

[2016-06-30 08:33] pepelsbey commented on #79
I haven’t figured out how to get a check sum for an uknown list of files yet. I don’t want to copy-paste paths every time new app added.

[2016-06-30 08:35] pepelsbey commented on #79
I beleive some of the [Dev.Opera’s code](https://github.com/operasoftware/devopera/blob/master/gulp/tasks/cache.js) could be reused here.

[2016-06-30 15:08] zcdunn opened #83 "Add The Guardian"
The Guardian has a manifest, service worker, and prompts for add to homescreen.

[2016-07-01 22:25] owencm opened #86 "Add https://boardom.io/"
https://boardom.io/

[2016-07-02 15:25] jasan-s opened #87 "Would be really helpful if showcased PWA were also categorized by tech stack used. (suggestion)"
I am personally very excited about PWA  but can't seem to figure out how integrate the PWA features in a react+redux app.

[2016-07-02 21:17] pepelsbey commented on #87
Our main focus is to showcase PWA apps, it doesn't matter what technologies they use. See @addyosmani’s [Progressive Web Apps across all frameworks](http://youtu.be/srdKq0DckXQ) talk for more details regarding React, etc.

[2016-07-02 21:17] #87 closed

[2016-07-03 20:06] kanodia commented on #82
Hello Vadim

It has been changed. Please shift refresh https://Rofr.in  to view the
updated version

Thank you

Looking forward to see Rofr in your list of Pwa

Thanks again
On 30-Jun-2016 2:00 pm, "Vadim Makeev" <notifications@github.com> wrote:

[2016-07-05 07:54] kanodia commented on #82
Hello Vadim

Did you get a chance to see the updated version of https://rofr.in

[2016-07-05 16:07] mathiasbynens commented on #79
We could put all the “unknown”/unpredictable files in a separate directory.

[2016-07-06 16:22] pepelsbey commented on #79
@mathiasbynens, every new site added to the list is unknown. It’s already way to complicated to add a new app:

1. Add logo
2. Change CSS
3. Change HTML

And you’ll also have to add logo to SW. I have some ideas how to solve it but it will require some structural changes.

[2016-07-06 19:54] owencm opened #88 "Add flat.io"
See:
https://flat.io/score/56fee911001075f71caf45a4-super-mario-bros-songs

[2016-07-06 20:26] jsonthor opened #89 "Please add progressive web flap"
Hi,

Could you add https://www.progressivewebflap.com/

To your site? It's a flappy bird html5 game, also working as a progressive web app.

Thanks

[2016-07-07 12:35] jxcku opened #90 "Please add Pariksha.Co"
https://lite.pariksha.co

[2016-07-08 14:48] pepelsbey commented on #90
Thank you for your suggestion, but there’s problem. We’re not trying to collect every PWA on Internet, but the most valuable ones for promoting PWA. It’s hard to say what Pariksha is made for by visiting the main “light” page. Of course you could sign up for an account to see what it’s all about, but I doubt that anyone would do it. So I don’t think Pariksha suits this list’s purpose. Correct me i

[2016-07-08 14:48] #90 closed

[2016-07-12 11:40] andreasonny83 opened #91 "Carcassonne-scoreboard"
Sorry. I will move this project outside heroku first and raise another issue after.

[2016-07-13 07:39] #91 closed

[2016-07-14 09:37] pepelsbey opened #92 "GitHub Explorer"
https://github-e.com/

[2016-07-14 09:39] pepelsbey commented on #92
@trungdq88, do you have a vector source file for `inspectocat.png` icon? We’d like to add GitHub Explorer to [PWA.rocks](https://pwa.rocks) list.

[2016-07-14 09:44] trungdq88 commented on #92
Hi @pepelsbey, the `inspectocat` is an artwork by @jasoncostello originally from here https://octodex.github.com/inspectocat

Hi @jasoncostello, I'm using your artwork as my application icon (added your info the credit). Do you have an svg for this artwork? Thanks!

[2016-07-21 11:50] andreasbovens commented on #88
Beautiful site, but it doesn't work well offline...

[2016-07-21 19:04] matthewoates commented on #86
Boardom developer here. Thanks for the suggestion.

[2016-07-27 15:44] zanonnicola opened #94 "Add another PWA"
This is my personal portfolio:
https://nicola-zanon.com/

It's not an "app" but it works offline and meets all the requirements.
Thanks!

[2016-08-03 12:20] benfrancis opened #96 "Add Progressive Beer"
https://deanhume.github.io/beer/

[2016-08-03 12:24] benfrancis opened #97 "Add Web App Manifest Generator"
The web app manifest generator is a web app :)

https://tomitm.github.io/appmanifest/

[2016-08-03 13:33] andreasbovens commented on #97
Whereas this is cool, I'm not sure pwa.rocks is the right place for it. It's not really something you'd use on your mobile phone.

[2016-08-03 13:36] andreasbovens commented on #96
Looks good to go to me.

[2016-08-03 13:39] andreasbovens commented on #94
It's a cool site, but not really a match for pwa.rocks, IMO. Sorry!

[2016-08-03 13:39] #94 closed

[2016-08-03 13:43] andreasbovens commented on #89
Seems to work nicely.

[2016-08-03 13:45] andreasbovens commented on #97
@mathiasbynens @pepelsbey what do you say?

[2016-08-03 13:47] andreasbovens commented on #86
Cool site, but it doesn't work offline...

[2016-08-03 13:52] andreasbovens commented on #83
This one's interesting, not in the least because it launches again in the browser. One issue: I don't see any offline experience.

[2016-08-03 13:56] andreasbovens commented on #82
@kanodia it seems like no native install banner is triggered... This is a condition for inclusion in pwa.rocks.

[2016-08-03 13:57] andreasbovens commented on #68
Closing as the issue mentioned above still hasn't been fixed.

[2016-08-03 13:57] #68 closed

[2016-08-03 15:17] pepelsbey commented on #97
We could mention it in the readme, but I wouldn’t feature it on PWA.rocks

[2016-08-03 19:33] jsonthor commented on #89
Thanks Andreas.

[2016-08-04 06:54] pepelsbey commented on #89
Added in 6053c97, thank you!

[2016-08-04 06:54] #89 closed

[2016-08-04 07:37] pepelsbey commented on #96
Added in e37f3e5, thank you!

[2016-08-04 07:37] #96 closed

[2016-08-04 08:28] ferdiardianto opened #98 "Kompas.com"
See:
https://app.kompas.com/

[2016-08-04 08:37] pepelsbey commented on #98
Could you please explain a bit more what’s this?

[2016-08-04 08:42] ferdiardianto commented on #98
Kompas.com is Indonesia leading & most credible news and multimedia portal. Previously known as Kompas Cyber Media or Kompas Online. Established in 1995, Kompas.com was reborn in May 2008 with improved contents and architecture. Kompas.com is an affiliate of Kompas Gramedia Digital Group

[2016-08-06 19:48] niwsa opened #99 "Suggestion: evernote"
https://www.evernote.com/Login.action

[2016-08-06 21:07] pepelsbey commented on #99
It woudn’t look impressive for the most of users looking a for good PWA example because of the login screen. Though it might be a great PWA itself.

![www evernote com-login action galaxy s5](https://cloud.githubusercontent.com/assets/105274/17459040/34cc6cee-5c32-11e6-89da-bd1bb8a19642.png)

@andreasbovens @shwetank @mathiasbynens, what do you think?

[2016-08-07 06:09] niwsa commented on #99
@pepelsbey Isn't that the same case for telegram?

[2016-08-07 12:02] pepelsbey commented on #99
@niwsa, messengers audience is much bigger that Evernote’s one, maybe I'm wrong. Let's see what my colleagues think.

[2016-08-08 12:15] pepelsbey opened #100 "RioRun"
https://riorun.theguardian.com/

![rio](https://cloud.githubusercontent.com/assets/105274/17479381/f70488c0-5d7a-11e6-8a77-1a3a590d191f.png)

[2016-08-08 18:30] zcdunn commented on #99
Evernote's website doesn't work on mobile browsers.

![evernote](https://cloud.githubusercontent.com/assets/7121969/17491214/a8bda5f8-5d74-11e6-871b-0ece9a700f7c.png)

[2016-08-08 19:36] pepelsbey commented on #99
@niwsa, what’s the point then?

[2016-08-08 19:36] #99 closed

[2016-08-08 20:21] pepelsbey commented on #100
Added in e9ccfde2

[2016-08-08 20:21] #100 closed

[2016-08-08 20:25] pepelsbey commented on #100
I could always make it better with some medal or torch icons if only I had them in SVG, but they’re buried somewhere deep inside the app.

![image](https://cloud.githubusercontent.com/assets/105274/17494888/58acdd4a-5dbf-11e6-872a-9bf516451abf.png)

[2016-08-09 14:59] #97 closed

[2016-08-09 15:02] andreasbovens commented on #92
@pepelsbey what do you suggest we do here?

[2016-08-09 15:07] andreasbovens commented on #61
Doesn't load for me...

[2016-08-09 15:11] andreasbovens commented on #80
Does not show install banner.

[2016-08-09 15:14] andreasbovens commented on #57
Not seeing the install banner here...

[2016-08-09 16:41] greenido commented on #80
I wonder why :/ - It got the manifest and SW.
Anything you see?

[2016-08-09 20:12] pepelsbey commented on #92
@andreasbovens, I’ll see if I could quickly make a nice vector icon, but if not I’ll just use bitmap.

[2016-08-10 04:09] trungdq88 commented on #92
Thanks for keeping this update, wish I could help something here.

[2016-08-11 21:38] PrestonStahley opened #101 "Add The Billings Gazette"
https://billingsgazette.com/pwa

A local newspaper PWA.

Pull request https://github.com/operasoftware/pwa-list/pull/95

[2016-08-12 06:48] paulirish commented on #101
Nice work on this! very nice.

[2016-08-15 06:23] PrestonStahley commented on #101
Thanks, @paulirish!

Thanks for all of the great work you do on Chrome DevTools, lighthouse, etc!

[2016-08-15 16:16] pepelsbey commented on #101
@PrestonStahley, thank you for suggestion! Do you have a vector icon? I also found that two pictures declared in your manifest are not available:

![image](https://cloud.githubusercontent.com/assets/105274/17670744/19faab2e-631c-11e6-83d6-b0193e69d682.png)

[2016-08-15 16:48] pepelsbey commented on #101
Found it in [PDF](http://bloximages.chicago2.vip.townnews.com/billingsgazette.com/content/tncms/assets/v3/editorial/f/d0/fd09805a-c0c8-11e3-b717-0019bb2963f4/54905de9b2d35.pdf.pdf) :) Will add it to the list shortly.

[2016-08-15 16:52] pepelsbey commented on #101
Right, found a PR.

[2016-08-15 16:52] PrestonStahley commented on #101
Awesome! I included a .svg in the pull request https://github.com/operasoftware/pwa-list/pull/95 and I can get you an .ai file as well if you'd like.

The icon paths in the manifest have also been fixed.

Thanks!

[2016-08-15 17:01] #101 closed

[2016-08-15 17:02] pepelsbey commented on #101
Merged, will be deployed shortly. Thank you again for the nice PWA example!

[2016-08-15 19:37] Jorger opened #102 "Add NumberJS Game"
# NumberJS Game

Site: https://jorger.github.io/NumberJS/
Github: https://github.com/Jorger/NumberJS

![numberjs](https://cloud.githubusercontent.com/assets/30050/17676727/71c1ba54-62f5-11e6-9a7c-ed99f5afaf93.gif)

Thank you very much.

Jorge Rubiano.
[@ostjh](https://twitter.com/ostjh)

[2016-08-15 21:52] pepelsbey commented on #102
Hi Jorge, thank you for suggestion. Although I wouldn’t call this game a good example of PWA: it’s a good demo, but it’s way too simplistic and not really progressive or responsive. What do you guys think @andreasbovens @mathiasbynens @shwetank?

[2016-08-16 22:16] ebidel opened #104 "Add chromestatus.com"
demo: https://www.chromestatus.com/features
src: https://github.com/GoogleChrome/chromium-dashboard

[2016-08-17 00:23] pepelsbey commented on #104
Thank you for suggestion! Will add it shortly. Just a side note: is it OK that [https://chromestatus.com/features](https://chromestatus.com/features) (without `www`) is not available? I’d expect a redirect to `www` instead.

[2016-08-17 00:33] ebidel commented on #104
Yea, that's never worked. Silly naked domain + app engine + SSL Google Apps.

[2016-08-17 10:20] FluorescentHallucinogen opened #105 "Add Simple Push Demo"
Web app: https://gauntface.github.io/simple-push-demo
Mirror: https://simple-push-demo.appspot.com
Source code: https://github.com/gauntface/simple-push-demo

I know that this web app doesn't work offline, but the goal of this app is show how web push notifications work (web push notifications doesn't work without active internet connection). Web push notifications is important part of PWAs. This

[2016-08-17 20:25] joedun1984 commented on #61
Beautiful app

[2016-08-18 01:36] owencm commented on #57
Yeah I think there's some regression. We can forget this for now I think
On Tue, Aug 9, 2016 at 8:14 AM Andreas Bovens <notifications@github.com>
wrote:

[2016-08-18 10:17] #57 closed

[2016-08-18 15:49] stuartlangridge opened #106 "Don't randomise the order after the back button"
If you view pwa.rocks, click one app to try it, then click back to go back to the list, the list's order is randomised. I understand why it's randomised on first visit, and that's great, but if it's randomised on _every_ visit then it's really hard to go through and try out various different PWAs, because you've lost your "place" in the list.

[2016-08-19 12:34] #104 closed

[2016-08-19 20:06] pepelsbey commented on #106
Do you think a cookie or sessionStorage entry would solve this problem?

[2016-08-19 21:10] pepelsbey commented on #104
@ebidel, merged and deployed. I also made a [nice looking vector icon](https://pwa.rocks/images/chrome-status.svg) (only 2.7 KB) based on original one.

[2016-08-19 21:40] ebidel commented on #104
oooo, thanks. I might steal that!

[2016-08-20 10:08] stuartlangridge commented on #106
Yeah, that'd likely do it!

[2016-08-28 14:23] matthewoates commented on #86
@andreasbovens good observation. I've noted that as a requirement, and will open another PR when offline support is up to par with other PWAs.

[2016-09-02 19:06] pepelsbey opened #107 "Housing Go"
[Housing Go - Behind the Screens](https://medium.com/engineering-housing/progressing-mobile-web-fac3efb8b454)
Migrating to Progressive Web Application

[2016-09-17 21:20] mykeels opened #108 "Flipboard does not have a Service Worker"
Hi, I noticed that https://flipboard.com does not have a service worker and does not load offline. How come it's in the list?

[2016-09-17 22:03] pepelsbey commented on #108
They have it when you’re emulating a proper device or it’s loaded with `/?display=standalone` (not sure about the latter).

![image](https://cloud.githubusercontent.com/assets/105274/18611221/3b3ddff0-7d4c-11e6-8ca2-2d49b1e96af6.png)

Sure, It’s not the best approach, but still valid.

[2016-09-17 22:03] #108 closed

[2016-09-29 06:39] PaladinMarius opened #112 "Add Tooo"
Add https://tooo.io/

[2016-10-04 15:06] #112 closed

[2016-10-07 13:39] andreasbovens commented on #105
This is too much of a proof-of-concept, in my opinion. Too simple for inclusion here.

[2016-10-07 13:39] #105 closed

[2016-10-07 13:41] andreasbovens opened #113 "Add podle.audio"
https://podle.audio/ should be added.

[2016-10-07 13:51] andreasbovens opened #114 "Add https://papersscissors.rocks/"

[2016-10-07 13:51] andreasbovens opened #115 "Add https://paperplanes.world/"

[2016-10-10 19:26] #115 closed

[2016-10-11 14:57] andreasbovens commented on #107
Resolved by #117

[2016-10-11 14:57] #107 closed

[2016-10-12 15:03] andreasbovens commented on #61
Still no banner shown.

[2016-10-12 15:04] andreasbovens commented on #80
Seems like it started working fine now.

[2016-10-12 15:05] andreasbovens commented on #29
@Jorger ^

[2016-10-12 15:07] andreasbovens commented on #82
Still the same problem... @kanodia any chance to fix this?

[2016-10-12 15:10] andreasbovens commented on #86
Thanks, @matthewoates! Any updates from your end?

[2016-10-12 15:14] andreasbovens commented on #6
This now lives on https://app.hackerwebapp.com/
I don't get an install banner though.

[2016-10-12 15:34] greenido commented on #80
I didn't change it :)
But I am glad to hear it!

--from my mobile

[2016-10-12 18:11] #113 closed

[2016-10-13 12:26] mathiasbynens commented on #79
See #119. The next step is to populate [the list of images in the service worker](https://github.com/operasoftware/pwa-list/blob/6caeb5a0a9c9c18166990fde8dc12b233e4fdadb/src/assets/service-worker.js#L19-L66) dynamically. I’ll tackle that in a follow-up PR.

[2016-10-13 12:26] #79 closed

[2016-10-13 13:01] mathiasbynens commented on #79
#120

[2016-10-18 07:27] kanodia commented on #82
No, We have web app manifest in our PWA and it does trigger native install
banner. Please check again
We have more than 1000 users who have Added Rofr to homescreen

*Abhishek Kanodia*
Under Graduate Student
BITS Pilani

On 12 October 2016 at 20:37, Andreas Bovens <notifications@github.com>
wrote:

[2016-10-18 07:52] shwetank commented on #82
@kanodia It seems you don't have a 'short_name' field in your manifest.json file. This is required as mentioned in the readme. Please add that.

[2016-10-18 18:41] matthewoates commented on #86
The site is alive and well, and will be adding offline support in the coming weeks. I'll keep you all updated through this thread.

[2016-10-25 23:40] cdata opened #124 "Add Polymon"
Polymon is a location-based, monster-catching game with PvP battles.

https://polymon.polymer-project.org

[2016-11-03 23:10] vyorkin opened #128 "broken link in README"
this one: https://developer.chrome.com/devsummit/sessions/progressiveapps

[2016-11-11 02:29] andreasbovens commented on #106
@pepelsbey shall we close this one?

[2016-11-11 06:23] pepelsbey commented on #106
Yep, it's fixed, thank you for suggestion @stuartlangridge

[2016-11-11 06:23] #106 closed

[2016-11-11 23:32] andreasbovens opened #130 "Add Lyft app"

[2016-11-11 23:33] andreasbovens opened #131 "Add Mic"

[2016-11-11 23:34] andreasbovens opened #132 "Add code.nasa.gov"

[2016-11-11 23:34] andreasbovens opened #133 "Add CDS 2016 website"

[2016-11-21 04:43] C-F-4 commented on #114
Can I work on issues regarding adding apps which are marked as suggestions even if they aren't my PWAs?

[2016-11-21 17:03] pepelsbey commented on #114
@C-F-4 of course, you can file a PR with any app

[2016-11-21 19:03] C-F-4 commented on #114
I have filed a PR for this one. Once the PR is merged, this can be closed.

[2016-11-22 12:05] C-F-4 commented on #132
This one can be closed once the PR is merged. @andreasbovens

[2016-11-24 00:17] #128 closed

[2016-11-24 00:19] pepelsbey opened #138 "Add YOP, 1st PWA of Latin America"
https://lite.yop.land/

[2016-11-24 16:55] C-F-4 commented on #20
This is my SVG for Base 64. Here's how it looks now. [Preview](http://i.imgur.com/rv0kWcy.png)  Should I go for PR now @andreasbovens

[2016-12-01 01:45] RobDolinMS opened #143 "Are non-Opera people empowered as Committers/Maintainers?"
Per this tweet (https://twitter.com/marcosc/status/803925701954932736) from @MarcosCaceres, it looks like a number of top contributors maintainers of this project were let go.  :(

Are there non-Opera people who are committers / maintainers?

Will this effort be able to continue?

[2016-12-01 05:17] C-F-4 commented on #143
I didn't know that. That's why this project has been inactive.
Well, I'm just a committer. Not a Maintainer. But yeah, there are a couple of other committers whose apps it is, or who just like the project. Well, those guys were the maintainers.  @RobDolinMS

[2016-12-01 19:51] andreasbovens commented on #143
We're still maintaining this project — in fact, that's why we moved out of the Opera org (still working on domain name transfer). Happy to get other people on board as committers/maintainers, of course.

And yes, we're aware there is a bit of a backlog. We're working our way through that :)

[2016-12-02 05:38] C-F-4 commented on #143
It's great to know that the project is still up. @andreasbovens

[2016-12-12 20:24] C-F-4 commented on #143
Is the project being moderated? How long before the Project(PR and Issues) are active? @andreasbovens

[2016-12-13 16:48] andreasbovens opened #147 "Remove Washington Post"
It's no longer a PWA, as far as I can tell.

[2016-12-13 16:51] andreasbovens commented on #147
Resolved by https://github.com/pwarocks/pwa.rocks/commit/04ee5ee9c35e7545002bedc9b6f26f6debd325ba

[2016-12-13 16:51] #147 closed

[2016-12-14 02:18] #132 closed

[2016-12-14 02:25] andreasbovens commented on #143
I've started working my way through the various PRs, integrating them one by one. Sorry for the delay - life has been busy the last couple of weeks.

[2017-01-24 14:13] #143 closed

[2017-01-28 03:11] awebdeveloper opened #166 "Duolingo"
Add Duolingo to the list

https://www.duolingo.com

The home page isn't pwa but once you being taking course it becomes pwa

Thanks

[2017-01-28 03:18] awebdeveloper opened #167 "Plz add a search option"
Hi,

Plz add a option to search. Also plz show big names on top instead of browser status pages.

Thanks

[2017-01-28 03:19] awebdeveloper commented on #166
Looks like start_url is not offline but it does trigger  a add to home screen banner

[2017-02-04 00:58] jebeld17 opened #176 "Airhorner"
airhorner.com

[2017-02-09 23:41] oninross opened #180 "[suggestion] Add elements PWA"
Hi,

I have been toying around with PWAs for some time now.  Here is what I came up with:

https://elements.infiniteimaginations.co

[2017-03-03 20:15] johnxie opened #190 "Taskade"
Hope you can add Taskade (https://www.taskade.com) to the list!

SVG logo here https://www.taskade.com/images/logo.svg

[2017-03-06 11:16] woodylama opened #194 "Remove randomizing"
Is there a reason for random arrangement on every visit.
It makes it hard to know when something new is added.
Just a suggestion.

Cheers

[2017-03-06 11:30] pepelsbey commented on #194
It gives every app equal visibility. A-Z order puts XYZ-apps to a less visible position. We randomize the order but remember it while your tab is open so it doesn’t change on reload.

[2017-03-17 19:05] julianmartinezmansell commented on #55
Hi, just a quick note to let you know that our PWA changed URL. Its now at https://www.selio.com

Thanks.  :)

[2017-03-17 19:12] mathiasbynens commented on #55
@julianmartinezmansell Care to submit a PR?

[2017-03-17 19:17] julianmartinezmansell commented on #55
PR? its currently listed in the list of pwa.rocks, just that we changed the url. Thanks.

[2017-03-17 19:19] mathiasbynens commented on #55
@julianmartinezmansell Exactly — could you submit a PR that updates the URL accordingly? Thanks!

[2017-03-24 02:43] grigs opened #201 "Piiko no longer resolving"
DNS doesn't resolve for https://www.piiko.com/. What's the process for removing items?

<img width="465" alt="screen shot 2017-03-23 at 7 42 50 pm" src="https://cloud.githubusercontent.com/assets/804237/24278415/eebe18be-1000-11e7-9dde-71561ed33386.png">

[2017-04-16 18:04] EMK2000 opened #221 "Twitter and Google+"
Please add Twitter and Google+ to the list.

[2017-04-19 21:41] abraham commented on #221
plus.google.com doesn't support offline.

[2017-04-20 20:42] dandv commented on #221
Please add [Twitter Lite](https://blog.twitter.com/2017/how-we-built-twitter-lite).

[2017-04-20 20:43] dandv commented on #176
![image](https://cloud.githubusercontent.com/assets/33569/25251766/4774a84a-25cf-11e7-9603-d44cb3981029.png)

@abraham, please close

[2017-04-20 20:43] dandv commented on #167
Have you tried Ctrl+F?

[2017-04-20 20:44] dandv commented on #133
https://developer.chrome.com/devsummit/

[2017-04-20 20:46] dandv commented on #130
https://ride.lyft.com, not widely launched but [listed in Gulliver](https://pwa-directory.appspot.com/pwas/5667346802802688)

[2017-04-20 20:47] abraham commented on #176
I don't have the ability to manage issues.

[2017-04-20 21:17] shwetank commented on #176
Well, closing since airhorner is already featured.

[2017-04-20 21:17] #176 closed

[2017-04-20 21:20] dandv commented on #131
/cc @amedina

[2017-04-20 21:21] dandv commented on #130
@mohsen1, OK to add now, or should we wait?

[2017-04-20 21:40] mohsen1 commented on #130
That Lighthouse score ins Gulliver is not accurate. If you log in we're hovering around 95.

+1 on adding it to the list. Right now we have a lot of users using it.

[2017-04-21 02:17] awebdeveloper commented on #167
On mobile?

[2017-04-27 10:47] willemliu opened #232 "Add MovieSom"
Pull request has been submitted.

Many thanks!

[2017-05-02 11:57] willemliu commented on #232
https://github.com/pwarocks/pwa.rocks/pull/227

[2017-05-12 21:20] davmillar commented on #201
It looks like the site resolves now, although it redirects to .co instead of .com.

[2017-05-12 21:32] davmillar commented on #167
I know iOS Chrome and Safari have search features, although they're not terribly intuitive.
I don't understand the other comment about browser status pages. Was there something else on the app earlier?

[2017-05-13 07:47] awebdeveloper commented on #167
Even I don't know. 🤔

But search is important. Also is this project active

[2017-05-15 21:14] geek1011 opened #240 "Add DRTApp"
I have opened PR #239

[2017-06-09 15:49] jrock2004 opened #249 "Sites that no longer load"
Here is a list of the sites that do not work or some other issue and should be removed

- https://www.oumy.com/
- https://getkana.com/app (HTTPS security warnings coming up)
- https://poly-mail.appspot.com/
- https://flipboard.com/ ( No longer PWA and HTTPS is not signed)

I guess I could do a PR if you like, but thought I would post this issue first

[2017-06-09 15:52] jrock2004 commented on #180
Really cool. You should add it to the list buy following the directions in the readme

[2017-06-09 15:53] jrock2004 commented on #166
This does not appear to be a PWA

[2017-06-09 15:56] #166 closed

[2017-06-10 02:42] oninross commented on #180
@jrock2004 I already submitted a pull request a long time ago

[2017-06-16 01:41] geek1011 commented on #240
Is anyone here?

[2017-09-02 15:51] odahcam opened #272 "App seggest (no time to fork + implement)"
* https://www.flipkart.com/

[2017-10-17 14:36] HenrikJoreteg opened #282 "☕ Starbucks ☕ preview.starbucks.com"
It's very full-featured and represents a huge investment, by an extremely well-known international brand.

Not sure of this list is still being maintained, but if it is... seems like it should probably be on there :)

If it's not being maintained, no sweat. There's enough open source guilt in the world already, don't worry about it.

Cheers!

[2017-10-27 20:56] cataieec commented on #249
- https://meatscope.camera/

[2017-10-29 16:28] Mr21 opened #287 "Add GridSound (we have a MVP)"
Hi :)

We have posted a [PR 8 month ago](https://github.com/pwarocks/pwa.rocks/pull/184), but our app was not ready, now we have a MVP :) and the app doesn't ask for any account or whatever, I think it may be ready to be added to the list.

[2017-11-02 00:31] osrec opened #288 "Is this repo still being maintained?"
Hi Guys,

There seem to be a few pending pull requests from a few months. Just wondering if you need a bit of help getting through them?

If yes, I can certainly help, as can some members of my team.

Thanks!

[2017-12-25 08:48] awebdeveloper commented on #288
lets migrate to outweb.io

[2017-12-27 09:32] XinoAssassin opened #302 "Add bilibili"
https://m.bilibili.com
(You need simulate your browser to mobile device on desktop platfrom so the site will not redirect to https://bilibili.com)
A famous Chinese danmaku-based video website.

[2018-01-10 11:03] wangshuy opened #304 "add Weibo"
m.weibo.cn/beta
the popular social network in China

[2018-01-15 06:09] itaditya opened #308 "Please add Stack a minimalist tower blocks type game pwa"
I have made a PR #307

[2018-03-12 00:11] nerdeveloper opened #327 "Icon not showing"
`<a class="list__item app js-app"
		href="https://nerdeveloper.github.io/angular-pwa/"
		data-app="Coffee-app"
		data-tags="business shopping">
	<div class="app__wrapper">
		<h2 class="app__title">
			CoffeeApp
		</h2>
	</div>
	<style>
		[data-app='coffeeapp'] {
			color: #9400d3;
			background: currentColor url(apps/coffee.png) 50% 50% / 50% auto no-repeat;
			}
	</style>
</a>
`
But after i run:

[2018-03-13 15:12] jigenicol commented on #282
Seems like it is still not yet added

[2018-03-13 17:03] HenrikJoreteg commented on #282
It's actually out of preview so it's, app.starbucks.com now.

[2018-03-15 15:01] Jorger opened #332 "Add Little Professor and Binary fun Games"
# Little Professor ReactJS

* Code: https://github.com/Jorger/little_professor_reactjs
* URL: https://jorger.github.io/little_professor/

# Binary Fun ReactJS

* Code: https://github.com/Jorger/binary_fun_reactjs
* URL: https://binaryfun.now.sh/

Thanks so much.

Jorge Rubiano.

[2018-04-25 07:22] agnelvishal opened #351 "Please add Trusting Trust"
Here is the pull request. https://github.com/pwarocks/pwa.rocks/pull/347 Please do add it.

[2018-04-25 21:04] maracuja-juice commented on #288
@awebdeveloper That's not opensource though right? And I haven't exactly found out how to submit a new app/how to get included.

[2018-04-25 21:07] maracuja-juice commented on #194
I also thought about that, I think notifications when there is something new would be a solution

[2018-04-26 19:22] RobertJGabriel opened #352 "Need someone to help as an admin/ someone to review pr requests"
Hey Guys,

Just checking if you guys are looking for someone to look over the prs and merge new ones.

Will be happy to help, as I have built a few pwas at Teamwork.com. Have one open as we speak.

All the best :)

[2018-04-26 19:31] maracuja-juice commented on #352
Wondering aswell. Would be nice to have some more activity here again,

[2018-04-28 03:36] RobertJGabriel commented on #352
@maracuja-juice 100% agree. Helps too im taking 6 months to work on open source projects 🚀

[2018-04-29 02:03] RobertJGabriel commented on #352
@andreasbovens Bumping incase you didnt see :)

[2018-04-29 13:31] reinhart1010 opened #353 "Import app list to JSON format"
The JSON format could be used (alongside JavaScript) for app list to be edited, instead of editing the hardcoded HTML tags.

[2018-04-29 20:46] maracuja-juice commented on #353
Good idea. That would make it more maintainable!

[2018-05-05 21:09] maracuja-juice commented on #288
Thanks @awebdeveloper but that doesn't seem to be very active either ...

[2018-05-07 17:12] lastlink commented on #288
https://pwa-directory.appspot.com/ is active & easy to add new pwa apps. Seems to be maintained by Google.

[2018-05-07 18:32] maracuja-juice commented on #288
@lastlink Google Login to add a PWA 😮

[2018-05-08 04:57] awebdeveloper commented on #288
@maracuja-juice the website is active

[2018-05-19 10:13] photopea opened #360 "Can I suggest this photo editor?"
Hi, can anybody please add www.Photopea.com to the list? It is probably the best web-based image editor.

I am not familiar with Git and forking (I upload my files to GitHub through the web interface).

[2018-05-20 03:59] RobertJGabriel commented on #352
Sorry for the bump :)

@pepelsbey @andreasbovens @mathiasbynens @PaulKinlan

Incase you need more information on me https://robertgabriel.ninja/

[2018-05-30 20:45] kenosando commented on #360
I inspected the site you recommended but I don't see a service worker associated with it, meaning it cannot be used as a PWA offline.

[2018-05-30 22:04] photopea commented on #360
Users use Photopea to write text into photos, and they can choose from the database of 4000 fonts. The internet connection is needed to load fonts, which the user selects.

Does it really make sense to require offline functionality in 2018? The total amount of time you spend offline is decreasing, as internet is getting into more and more places. Limiting your list only to offline apps is a huge d

[2018-05-30 22:28] kenosando commented on #360
If you read the README, it does state a suggested PWA needs to:
* Be served over HTTPS.
* Have a manifest with a short_name and name, start_url, and a PNG icon of at least 144×144 pixels.
* Have a service worker (making sure that the start_url functions offline).

Photopea does have HTTPs, and a manifest with short_name, name, and a PNG icon, but it is missing the service worker.

I am simply stat

[2018-05-31 08:02] ogtumer opened #362 "Vaadin Expense Manager Demo"
Hello there,

Thanks for featuring Vaadin's "Expense Manager Demo."

Unfortunately, I have realized that the link is currently broken due to an URL change on our side.

Can I kindly ask you to update the link to "https://expensemanager.demo.vaadin.com/" ?

You can also check out:
- our PWA related page at https://vaadin.com/progressive-web-applications
- and another demo https://bakery-flow.demo.v

[2018-06-12 06:55] RobertJGabriel commented on #327
app="Coffee-app" needs to match [data-app='coffeeapp'] .

Also if you want im making https://www.pwaawards.com/ and would love for you make a pr @nerdeveloper

[2018-06-12 06:56] RobertJGabriel commented on #362
if you want I'm making https://www.pwaawards.com/ and would love for you make a pr @nerdeveloper.

[2018-06-12 06:57] RobertJGabriel commented on #351
if you want I'm making https://www.pwaawards.com/ and would love for you make a pr @agnelvishal @awebdeveloper

[2018-06-12 06:57] RobertJGabriel commented on #332
if you want I'm making https://www.pwaawards.com/ and would love for you make a pr @Jorger

[2018-06-12 06:57] RobertJGabriel commented on #308
if you want I'm making https://www.pwaawards.com/ and would love for you make a pr @itaditya

[2018-06-12 06:58] RobertJGabriel commented on #304
if you want I'm making https://www.pwaawards.com/ and would love for you make a pr @wangshuy

[2018-06-12 06:58] RobertJGabriel commented on #302
if you want I'm making https://www.pwaawards.com/ and would love for you make a pr @XinoAssassin

[2018-06-12 07:00] RobertJGabriel commented on #288
if you want I'm making https://www.pwaawards.com/ and would love for you make a pr @maracuja-juice

[2018-06-12 07:01] itaditya commented on #308
I'll be making one soon

[2018-06-12 07:48] agnelvishal commented on #351
I would also like to make a pr.

On Tuesday, June 12, 2018, Robert James Gabriel <notifications@github.com>
wrote:

make a pr @agnelvishal @awebdeveloper

[2018-06-12 07:51] RobertJGabriel commented on #351
Hey @agnelvishal please do. The sites just updating but you can here https://github.com/pwa-awards/website

[2018-06-13 04:08] nerdeveloper commented on #327
Hello, @RobertJGabriel your link https://www.pwaawards.com/ seems to be broken. I think it's an SSL issue. I will love to submit a PR and thanks for the head up. I was able to fix it :smile:

[2018-09-04 15:03] davmillar commented on #288
Hey @andreasbovens or @alexgibson - this repo is getting more and more attention but you don't appear to be interested in continued maintenance. Might I suggest that you privatize the repo and/or redirect your domain to another directory such as Appscope or Outweb? Alternately, if the hosting is done through GitHub pages, I'd consider paying for the domain and taking over maintenance. Please chime

[2018-09-04 15:33] alexgibson commented on #288
I’m not a maintainer of this repo

[2018-09-22 20:34] mteguhfh opened #402 "Please add https://5hal.com in pwa"
This site in build on Laravel PHP framwork, it's becauuauasz g v v

[2018-10-03 00:34] fernandobd42 opened #408 "add https://nagro.app"

[2019-01-03 20:52] SuperPat45 opened #425 "Add Spotify"
This is the Spotify PWA url (which avoids having to install the desktop Windows application thanks to PWA desktop chrome support):

https://open.spotify.com/browse/featured?pwa=1

[2019-02-20 17:53] backache opened #437 "The initial link to pokedex.org is wrong"
The initial link to pokedex.org is wrong, it is going to https://www.pokedex.org instead and hitting a certificate error in Chrome.

after someone has gone to https://pokedex.org its remembered and the error fixes itself for them

[2019-03-04 11:54] backache commented on #437
I have decided to try and fix it myself as it seems a simple enough change, wish me luck (I hope they are nice to me)

[2019-03-06 14:40] MyZeD opened #442 "Add soundboard.buzz"

[2019-03-22 20:08] marcomow opened #445 "add https://kek.lv/app"

[2019-04-22 13:55] BrsJsk commented on #442
"This site can’t be reached"

[2019-04-22 14:00] MyZeD commented on #442
Sorry, changed domainname

[2019-05-10 00:04] aberba opened #461 "add HaeDanPa.com"
HaeDanPa.com is a trip planning platform (hotel accommodation, meeting space, serviced apartment) in Ghana. It's a PWA using latest web technologies.

[2019-05-30 10:09] satnapar opened #464 "Add https://RadioQ37.com"
Please add https://radioq37.com

[2019-10-18 14:20] nitink4472 commented on #464
I would like to add above one but tell me under which section i should add it?

[2019-10-18 17:28] satnapar commented on #464
Hi there, it's a web radio. So, I suppose, "Other"..?

On Fri, Oct 18, 2019 at 5:20 PM nitink4472 <notifications@github.com> wrote:

[2019-10-18 17:51] nitink4472 commented on #464
"Other in the readme.md or where"?

[2019-10-18 18:03] nitink4472 commented on #464
What about the CSS then?I mean what about the layout of your link section?

[2020-01-31 09:10] NickHatBoecker commented on #352
We definitely need some update here! Otherwise let's start a new project, folks?